@font-face {
    font-family: "Norse";
    src: url("Norse-Bold.otf");
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.imagelogo{
    position: absolute;
    display: flex;
    width: clamp(192px,30.7vw,50vw);
    height: 100vh;
    overflow: hidden;
}

.absolutelogo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 70px;
    width: clamp(191px,30.7vw,35vw);
    height: 150px;
    margin-top: 120px;
    font-family: Norse, 'Times New Roman', Times, serif;
    color: aliceblue;
    padding-top: 14px;
    padding-bottom: 14px;
}

.logo{
    height: 100%;
    width: clamp(90px,20%,23%);
}

.credit{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 790px;
    width: 100%;
    font-size: x-small;
    color: white; 
}

.credit a{
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    margin-left: 30.7%;
    margin-right: 0%;
    width: 69.2vw;
    height: 100vh;
}

.form-1{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    padding-left: 4.5rem;
    padding-right: 8%;
    width: clamp(60vw,69.5vw,70vw);
    height: 33.33vh;
    font-size: larger;
    font-weight: 600;
    gap: 20px;
}

.two,
.one{
    align-self: baseline;
    margin-top: 15px;
}

.form-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-left: 4.5rem;
    width: clamp(60vw,69.5vw,70vw);
    height: 40vh;
    align-self: flex-end;
    box-shadow: 5px 5px 5px #ababab;
}

.two-one{
    margin-top: 2.5%;
    font-size: larger;
    font-weight: 600;
    align-self: baseline;
    margin-bottom: 2%;
}

.two-two{
    width: 50vw;
    align-self: baseline;
    font-size: small;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.7);
}

.row{
    display: flex;
    gap: 41%;
}

input{
    padding-left: 7px;
    font-size: small;
    width: 180%;
    height: 150%;
    border: 2px solid #ababab;
    border-radius: 5px;
}

input:focus{
    border: 2px solid #4169E1;
    outline: none;
    box-shadow: 3px 2px 5px #ababab;
}

.row:nth-child(even){
    gap: 28%;
    margin-bottom: 3%;
}

.row:nth-child(3){
    gap: 45%;
}

.row:nth-child(even) > div{
    margin-right: 1%;
}

#password:invalid,
#conf_password:invalid{
    border-color: red;
}

.form-3{
    width: clamp(60vw,69.5vw,70vw);
    height: 27.77vh;
    align-self: flex-end;
    padding-left: 4.5rem;
    padding-top: 3%;
}

button{
    width: 220px;
    height: 60px;
    padding: 5px 20px 5px 20px;
    background-color: slategrey;
    color: white;
    font-size: large;
    font-weight: 550;
    border: 1px solid slategrey;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px silver;
}

.form-3 > p{
    font-size: large;
    font-weight: 500;
}

.form-3 a{
    font-weight: 600;
    font-size: large;
    color: slategrey;
    text-decoration: none;
}

.row7{
    color: red;
}