@font-face {
    font-family: "Norse";
    src: url("Norse-Bold.otf");
}

*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
}

.imagelogo{
    display: flex;
    width: clamp(250px,30vw,35vw);
    height: 100vh;
    overflow: hidden;
}

.absolutelogo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 80px;
    width: clamp(250px,30vw,35vw);
    height: 150px;
    margin-top: 120px;
    font-family: Norse, 'Times New Roman', Times, serif;
    color: aliceblue;
    padding-top: 14px;
    padding-bottom: 14px;
}

.logo{
    height: 100%;
    width: max(23%,110px);
}

.form{
    height: 100vh;
}