@font-face {
    font-family: "Norse";
    src: url("Norse-Bold.otf");
}

*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.imagelogo{
    position: absolute;
    display: flex;
    width: clamp(192px,30.7vw,50vw);
    height: 100vh;
    overflow: hidden;
}

.absolutelogo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 70px;
    width: clamp(191px,30.7vw,35vw);
    height: 150px;
    margin-top: 120px;
    font-family: Norse, 'Times New Roman', Times, serif;
    color: aliceblue;
    padding-top: 14px;
    padding-bottom: 14px;
}

.logo{
    height: 100%;
    width: clamp(90px,20%,23%);
}

.form{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: orange;
}